#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    transition: opacity 1s ease-out;
    overflow: auto;
}

.loading-content {
    text-align: center;
    color: #ffffff;
    font-family: 'AbashiriMincho', sans-serif;
}

.loading-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.progress-bar {
    width: 350px;
    height: 15px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
}

.progress {
    height: 100%;
    background: #ff0000;
    width: 0%;
    animation: load 2s ease-in-out forwards;
}

@keyframes load {
    0% { width: 0%; }
    100% { width: 100%; }
}
